on:
  push:
    # Sequence of patterns matched against refs/tags
    tags: [ 'v*.*.*' ]

name: Release

jobs:
  build:
    name: Build Release
    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v6
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          # body_path: CHANGELOG.md  (Optional: if you have one)
          draft: false
          prerelease: false
